<bootstrap-layout>
    <@title>Surdown Editor - Your compositions</@title>
    <@content>

        <bs-preloader></bs-preloader>
        <nav-bar></nav-bar>
        <omnisearch></omnisearch>
        <editor-home></editor-home>

    </@content>
</bootstrap-layout>