<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">

  <title>
    <${input.title} />
  </title>
  <lasso-head />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body class="mdc-typography" style="padding:0;margin:0;">
  <${input.content} />
</body>

</html>