<bootstrap-layout>
    <@title>Surdown Editor - About</@title>
    <@content>

        <bs-preloader></bs-preloader>
        <nav-bar></nav-bar>
        <omnisearch></omnisearch>
        <landing-content></landing-content>

    </@content>
</bootstrap-layout>